@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --glow-rgb: 245 245 245;
    
    --light-gold-rgb: 249 181 51;
    --dark-gold-rgb: 215 147 23;
    
    --primary-stripe-rgb: 230 230 230;
    --secondary-stripe-rgb: 240 240 240;
  }
  
  body {
    
    overflow: hidden;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  @keyframes pan {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }

#stripe-container {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0px;
    translate: -50% 0%;
    height: 85vh;
    min-height: 240px;
    width: 100%;
    min-width: 2000px;
    background-color: rgb(var(--stripe-primary-rgb));
    
    clip-path: polygon(
  0% 4%, 2.5% 1%, 5% 4%, 
  7.5% 1%, 10% 4%, 12.5% 1%, 
  15% 4%, 17.5% 1%, 20% 4%, 
  22.5% 1%, 25% 4%, 27.5% 1%, 
  30% 4%, 32.5% 1%, 35% 4%, 
  37.5% 1%, 40% 4%, 42.5% 1%, 
  45% 4%, 47.5% 1%, 50% 4%, 
  52.5% 1%, 55% 4%, 57.5% 1%, 
  60% 4%, 62.5% 1%, 65% 4%, 
  67.5% 1%, 70% 4%, 72.5% 1%, 
  75% 4%, 77.5% 1%, 80% 4%, 
  82.5% 1%, 85% 4%, 87.5% 1%, 
  90% 4%, 92.5% 1%, 95% 4%, 
  97.5% 1%, 100% 4%, 100% 100%, 
  0% 100%
);

  }
  
  #stripe-pattern {
    height: 100%;
    width: 100%;
    background-size: 18px 18px;
    background-image: linear-gradient(
      -45deg,
      rgb(var(--primary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 100%
    );
    box-shadow: inset 0rem 0.5rem 2rem 0.25rem rgb(0 0 0 / 40%);
    animation: pan 360s linear infinite;
  }

  #app {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  #star-container {
    background: radial-gradient(rgb(var(--light-gold-rgb)), rgb(var(--dark-gold-rgb)));
    height: 100%;  
    overflow: hidden;
    position: relative;
  }
  
  #star-pattern {
    background-image: url("https://assets.codepen.io/1468070/Star+Pattern+3.svg");
    background-size: 10%;  
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0%;
    z-index: 0;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.10;
    animation: pan 180s linear infinite;
    will-change: background-position;
  }
  
  #star-gradient-overlay {
    background: radial-gradient(circle, transparent 75%, rgb(var(--dark-gold-rgb)));
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 2;
  }


  .btn-lite {
    position: relative;
    background-color: rgb(50 50 50);
    border: 0.2rem solid rgb(30 30 30);
    overflow: hidden;
  }

  .btn {
    display: flex;
    width: 10rem;
    min-width: 150px;
    position: relative;
    background-color: rgb(50 50 50);
    border: 0.5rem solid rgb(30 30 30);

    overflow: hidden;
    box-shadow: 12px 25px 50px 12px rgb(0 0 0 / 0.5);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .btn-left{
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
  }

  .btn-right{
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
  }

  .btn:hover{
    transform: scale(1.1);
  }
  .btn:active{
    transform: scale(0.85);
  }

  header * {
    z-index: 12;
  }

  .logo{
    transition: all 0.3s cubic-bezier(0.39,0.7,0.76,0.63) ;
    animation-fill-mode: forwards;
  }
  
  .logo:hover{
    

    transform: rotateX(360deg);

  }

  